*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e8b0b0;
}
button{
    background-color: purple;
    color: white;
    padding: 1rem;
    margin: 1rem;
}