*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
button{
    padding: 1.5rem;
    background-color: purple;
    color: white;
    font-size: 1rem;
    box-shadow: rgba(0, 0,0, 0.5);
}